<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />

		<script type="text/javascript">
			$( '#btn_new').on( "click", function() {
			  window.location.href = '../issues/new';
		 	});
		 	$( '#btn_edit').on( "click", function() {
			  window.location.href = '../issues/new';
		 	});
		 	$( '#btn_delete').on( "click", function() {
			  
		 	});

		 	function redirectNew(){
		 		window.location.href = '../issues/new';	
		 	}
			 	 

		</script>

		<title></title>
	</head>
	<body>
		<%= nav_bar brand: "Infinity Issues", brand_link: root_url, responsive: true  do %>
			<%= menu_group do %>
		        <%= menu_item "Painéis", root_url %>
		        <%= menu_item "Issue", root_url %>
		        <%= menu_item "Perfis", root_url %>
		        <%= menu_item "Usuários", root_url %>
		    <% end %>
		<% end %>
		<div class="div_principal">
			<div class="tabela">
				
				<table class="table table-bordered">
					<thead>
						<tr>
								<th></th>
							<th>Nome</th>
							<th>Descrição</th>
							<th>Status</th>
							<th>Tipo</th>
						</tr>
					</thead>
					<tbody>
						<% @issues.each do |issue| %>
							<tr>
								<td><input type="radio" name="group1"></input></td>
								<td><%= issue.nome %></td>
								<td><%= issue.descricao %></td>
								<td><%= issue.status %></td>
								<td><%= issue.tipo %></td>
							</tr>
						<% end %>	
					</tbody>	

				</table>
			</div>

			<div class="buttons">
				<button id="btn_delete" onclick="">Excluir</button>
				<button id="btn_edit" onclick=""onclick="">Editar</button>
				<button id="btn_new" onclick="redirectNew();">Novo</button>
			</div>

		</div>

	</body>
</html>